/* aタグ */
.fc-h-event {
  background-color: transparent;
  border: none;
  text-align: right;
  pointer-events: none; /* ポインターイベントを無視する */
}

/* カレンダーの背景色設定 */
.fc-daygrid-body,
.fc-day {
  background-color: white; /* 背景色を白に設定 */
}

.fc-col-header-cell {
  background-color: #ce93d8;
  color: white; /* ヘッダーのテキスト色を白に設定 */
}

.fc .fc-daygrid-day-frame {
  height: 100%;
  min-height: 100px;
}

/* FullCalendar内のカスタムタスクリスト */
.task-container {
  position: relative; /* 上寄せを効かせるため */
  margin-top: 0; /* 上に寄せる */
  padding: 0; /* 不要な余白を削除 */
}

ul {
  padding-left: 0; /* 左側の余白をなくす */
  list-style: none; /* リストのデフォルトのマーカーを削除 */
  margin: 0; /* デフォルトのマージンを削除 */
  position: relative;
}

/* チェックボックスのスタイル */
.task-checkbox {
  margin-right: 8px; /* チェックボックスと文字の間隔 */
  cursor: pointer; /* チェックボックスにカーソルを合わせるとポインタに変わる */
}

/* タスクのテキスト */
.task {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}

/* カテゴリーごとの背景色設定*/
.task.会社 {
  color: #e57373;/* RED */
}

.task.プライベート {
  color: #81c784;/* Green */
}

.task.勉強 {
  color:  #64b5f6; /* Blue */
}

/* 予定のテキストに立体感を持たせる */
.scheduled {
  font-size: 1em;
  color: #fcf6f6;
  padding-left: 5px; /* 左側に少し余白を追加 */
  border: 1px solid #ccc; /* 枠線の色 */
  border-radius: 8px; /* 枠線を丸くする */
  display: block; /* 横幅いっぱいに広がるようにblockを使用 */
  width: 100%; /* 横幅を100%に設定 */
  box-sizing: border-box; /* パディングやボーダーを含めた幅を計算 */
  text-align: left; /* 文字を左寄せ */
}


/* カテゴリーごとの背景色設定 */
.scheduled.会社 {
  background-color: #e57373/* RED */
}

.scheduled.プライベート {
  background-color: #81c784;/* Green */
}

.scheduled.勉強 {
  background-color:  #64b5f6; /* Blue */
}